<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <!-- <package id="googlechrome" />
      <package id="7zip.portable " />
      <package id="notepadplusplus " />
      <package id="vlc" />
      <package id="ccleaner" />
      <package id="jdk8" />
      <package id="sysinternals" />	
      <package id="azure-cli" />
      <package id="winscp.portable" />
      <package id="dropbox" />
      <package id="azcopy" />
      <package id="sublimetext3" />
      <package id="irfanview" /> 	
      <package id="citrix-receiver" /> 
      <package id="baretail" /> 
      <package id="paint.net" /> 
      <package id="firefox" /> 	
	  <package id="utorrent" />
	  <package id="mobaxterm" /> -->
	  
	  <package id="cropper" />
	  <package id="lightshot" />
	  <package id ="airdroid" />
	  <package id="calibre" />
    </packages>